body {
    background-color: #9e1a62;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 
 .pizza{
    
    border: 1px solid #ca4adb;
    padding: 1em;
    margin: 1em;
    
    margin-bottom: 0.5em; 
    border-radius: 1em;
 
    
 }
 .medium_pizza {
    background-color: #6c383b;
    flex: 0.5;
 }
 .large_pizza{
    background-color: #331836;
    flex: 0.5;
 }
 .small_pizza {
 background-color: #fee0ee ;
 flex: 0.5;
 }
 table {
    width:100%; 
    border-collapse: collapse; 
    background-color: #bc2525;
 }
 
 
 td {
    padding: 10px; 
    border: 0px solid #01312d;
    width:20%
 }
 
 
 
 @media (min-width: 760px) {
   body {
    background-color: #d3ffe7;
    }
 
 @media (min-width: 960px) {
   
    body {
 background-color: #a2babb;
 }
 .pizzas{
    display: flex;
 }
 }
 } 
 .msheshe {
    text-align: center;
 }

 .contact_us {
    display: flex;
    justify-content: space-between;
}

.address {
    align-self: flex-end; 
        margin-right: 20px;
}


.small_pizza, .medium_pizza, .large_pizza {
    margin-right: 10px; 
    flex: 1; 
}
